@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body  {
  height: 100%;
}

body  {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  margin: 0;
  background: url('https://images.unsplash.com/photo-1580377968103-84cadc052dc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80') no-repeat center center fixed;
  background-size: cover;
  color: #FFF;
  font-weight: 700;
  overflow: auto;
}

  body .welcome {
    font-family: 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background: url('https://images.unsplash.com/photo-1580377968103-84cadc052dc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #FFF;
    font-weight: 700;
    overflow: hidden;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    /* position: fixed; */
    top: 10;
    width: 100%;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 50px;
  }
  
#homebox {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  height: 400px;
  border-radius: 60px;
  text-align: center;
}

  header nav ul {
    display: flex;
  }
  
  header nav li{
    margin: 0 15px;
  }
  
  header nav li:first-child{
    margin-left: 0; 
  }
  
  header nav li:last-child{
    margin-right: 0;  
  }
  
  a.btn {
    color: #fff;
    border-radius: 100px !important;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  a.btn:hover {
    background: #767065;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .covertwo  {
    margin-top:0px;
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

  }


  

 

 
  
 