.parent {
  display: flex;
  justify-content: space-around;
}

.right-side {
  width: 60%;
  margin-right: 70px;
  top: 50px;
  margin-top: 70px;
}

.parentcontainer{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 50px;
 
  justify-content:  flex-start;
  gap: 100px;
}
